<% if browser.platform.android? || browser.device.ipad? || browser.device.iphone? || browser.device.mobile? %>
  <body oncontextmenu="return false"></body>
  <div class="game-button">
    <h2 id= "touch-character-menu">メニュー</h2>
    <%= image_tag 'ターゲットのアイコン.png', id: "touch-character-shot" %>
    <%= image_tag '矢印ボタン左.png', id: "touch-character-left" %>
    <%= image_tag '矢印ボタン左.png', id: "touch-character-up" %>
    <%= image_tag '矢印ボタン左.png', id: "touch-character-right" %>
    <%= image_tag '矢印ボタン左.png', id: "touch-character-down" %>
  </div>
<% end %>
  <%= javascript_include_tag "engine/game_instance" %>
  <%= javascript_include_tag "engine/sound" %>
  <%= javascript_include_tag "engine/enemy" %>
  <%= javascript_include_tag "engine/boss" %>
  <%= javascript_include_tag "engine/enemy_shot" %>
  <%= javascript_include_tag "engine/stage" %>
  <%= javascript_include_tag "engine/menu" %>
  <%= javascript_include_tag "engine/character" %>
  <%= javascript_include_tag "engine/character_bullet" %>
  <%= javascript_include_tag "engine/effect" %>
  <%= javascript_include_tag "engine/screen_effect" %>
  <%= javascript_include_tag "engine/item" %>
  <%= javascript_include_tag "engine/out" %>
  <%= javascript_include_tag "engine/image_load" %>
  <%= javascript_include_tag "engine/draw" %>
  <%= javascript_include_tag "game" %>
