<div class="account-forum">
  <h2><%= t('.title', resource: resource.model_name.human) %></h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <p><%= f.label :avatar %></p>
      <%= image_tag current_user.avatar.url %>
      <%= f.file_field :avatar, accept: 'image/jpg,image/jpeg,image/png,image/gif' %>
    </div>

    <div class="field">
      <p><%= f.label :name %></p>
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>

    <div class="field">
      <p><%= f.label :email %></p>
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
    <% end %>

    <div class="field">
      <p><%= f.label :comment %></p>
      <%= f.text_area :comment, autofocus: true, autocomplete: "comment", size: "30x4" %>
    </div>

    <div class="field">
      <p><%= f.label :password %></p>
      <p>
        <% if @minimum_password_length %>
          <%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %>
        <% end %>
      </p>
      (<%= t('.leave_blank_if_you_don_t_want_to_change_it') %>)<br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <p><%= f.label :password_confirmation %></p>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <p><%= f.label :current_password %></p> (<%= t('.we_need_your_current_password_to_confirm_your_changes') %>)<br />
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>

    <div class="actions">
      <%= f.submit t('.update') %>
    </div>
  <% end %>

  <h3><%= t('.cancel_my_account') %></h3>

  <div class="delete">
    <%= button_to t('.cancel_my_account'), registration_path(resource_name), data: { confirm: t('.are_you_sure') }, method: :delete %>
  </div>
</div>
