<div class="top_page_frame">
  <div class="top_page">
    <%= link_to" ゲームスタート", "#" %>
    <%= link_to" ランキング", "#" %>
    <%= link_to" 操作方法", "#" %>
    <%= link_to "設定", "#" %>
    <%= link_to "著作権表記", "#" %>
  </div>
</div>
