<div class="top_page_frame">
  <div class="top_page">
    <%= link_to "ゲームスタート", "#" %>
    <%= link_to "ランキング", "#" %>
    <%= link_to "操作方法", "#" %>
    <%= link_to "設定", "#" %>
    <%= link_to "素材提供者様", "#material-provider" %>
  </div>
  <div id="material-provider">
    <hr>
    <h1>素材提供者様</h1>
      <div class = "material-provider-name"><%= link_to "『nakano sound』", "https://www.nakano-sound.com", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://www.nakano-sound.com", "https://www.nakano-sound.com", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『創作堂さくら紅葉』", "https://yukizakura.net/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://yukizakura.net/", "https://yukizakura.net/", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『魔王魂』", "https://maou.audio/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://maou.audio/", "https://maou.audio/", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『効果音ラボ』", "https://soundeffect-lab.info/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://soundeffect-lab.info/", "https://soundeffect-lab.info/", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『フリー効果音素材 くらげ工匠』", "http://www.kurage-kosho.info/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"http://www.kurage-kosho.info/", "http://www.kurage-kosho.info/", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『On-Jin ～音人～』", "https://on-jin.com/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://on-jin.com/", "https://on-jin.com/", target: :_blank, rel: "noopener noreferrer" %></div>
      <div class = "material-provider-name"><%= link_to "『Presys net.』", "https://www.presys.jp/", target: :_blank, rel: "noopener noreferrer" %></div><!--
   --><div class = "material-provider-url"><%= link_to"https://www.presys.jp/", "https://www.presys.jp/", target: :_blank, rel: "noopener noreferrer" %></div>
    <%= link_to "トップへ移動", "#header", class: "top-move" %>
    <div class ="material-provider-bottom"></div>
  </div>
</div>
