<div class="top_page_frame">
  <div class="top_page">
    <%= link_to" ゲームスタート", root_path  %>
    <%= link_to" ランキング", root_path  %>
    <%= link_to" 操作方法", root_path  %>
    <%= link_to "設定", root_path  %>
    <%= link_to "著作権表記", root_path  %>
  </div>
</div>
